body{
    overflow-x: hidden;
}

main {
    position: relative;
}

header{
    position: relative;
    z-index: 2;
    width: 100%;
    background-color: forestgreen;
}

.navbar-brand {
    font-family: 'Sigmar One', cursive;
}

#basket {
    padding: 10px;
    text-align: center;
    position: absolute;
    width: 300px;
    right: 0;
    top: -50vh;
    z-index: 1;
    background-color: #eeeeee;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    outline: 1px solid #aaaaaa;
    max-height: 50vh;
    overflow-y: scroll;
}

#basket .basketitem {
    text-align: left;
    height: 50px;
    padding: 0;
    margin: 0;

}

#basket h4{
    font-size: 1em;
    margin-top: 1em;
}

#basket h2{
    font-size: 1.5em;
}

#basket img {
    width: 50px;
    height: 50px;
    float: left;
    object-fit: cover;
    margin-right: 10px;
}


#basket.toggled{
    top: 0;
}

#content {
    z-index: 0;
    width: 80vw;
    max-width: 960px;
    margin: 0 auto;
    padding-top: 1em;
}

.fab {
    margin: .25em;
    font-size: 2em;

}

#oauth {
    text-align:center;
    width: 100%;
    margin-bottom: .75em;
}

#oauth .btn {
    padding: 0;
    margin: .25em;
    width: 40%;
}

.btntext{
    display: inline;
    vertical-align: top;
    line-height: 3em;
    margin-right: .5em;
}

#userform {
    text-align: center;
    background-color: #333333;
    border-radius: 2em;
    color: #eeeeee;
    padding: 1em;
    box-shadow: 5px 5px 10px #aaaaaa;
}

#userform form {
    position: relative;
    width: 60%;
    margin: 0 auto;
    text-align: left;
}

#userform form input {
    position: absolute;
    right: 0;
    width: 50%;
}

#userform form button {
    display: block;
    margin: 0 auto;
    margin-top: 1em;
}
