@model IEnumerable<ECommerse.Models.Product>

@{
    ViewData["Title"] = "Shop Index";
}

<h2>Shop Index</h2>

@foreach (var product in @Model)
{
    <h2>
    <a asp-controller="Shop" asp-action="DetailView" asp-route-id="@product.ID">@product.Name</a>
    </h2>
    <img class="DinoImg" src="@product.Image"/>
}
