@model ECommerse.Models.ViewModels.OrderViewModel

@{
    ViewData["Title"] = "Checkout";
}

@*not in use*@
<h2>Checkout</h2>

@foreach (var item in Model.Products)
{
    <h3>@item.Name</h3>
    <h3>@item.Price</h3>
}
