@model ECommerse.Models.ViewModels.OrderViewModel

@{
    ViewData["Title"] = "Checkout";
}

<h2>Receipt</h2>

@foreach (var item in Model.TheOrder.Products)
{
    <h3>@item.Name</h3>
    <h3>@item.Price</h3>
}
