@model ECommerse.Models.ViewModels.OrderViewModel


@{
    ViewData["Title"] = "Receipt";
}

<h2>Receipt</h2>



@foreach (var item in Model.TheOrder.Products)
{
    <h3>@item.Name</h3>
    <h3>@item.Price</h3>
}

<h2>Thank you for shopping at The Dino Store!</h2>