@using Microsoft.AspNetCore.Identity
@using ECommerse.Models
@using System.Security.Claims

@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewBag.Title = "DinoStore - Home";
    ViewData["Title"] = "Index";
}

<h2>Home Index</h2>

@if (TempData["LoggedOut"] != null)
{
    <p>@TempData["Loggedout"]</p>

}

 
<main>
    <div class="container" style="text-align:center">
        <h1>Welcome to DinoStore!</h1>
        <h3>The #1 place to buy REAL dinosaurs!</h3>
    </div>
</main>

@if (SignInManager.IsSignedIn(User))
{
    <h3>Hello @User.Identity.Name</h3>
    <h4>Your name is @User.Claims.First(c => c.Type == "FullName").Value</h4>
}
else
{
    <h3>Hello Stranger</h3>
}