<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    @* CSS for Bootstrap *@
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Sigmar+One" rel="stylesheet">
    <link rel="stylesheet" href="~/CSS/Base.css" type="text/css" />
    <link rel="stylesheet" href="~/CSS/Layout.css" type="text/css" />
    <link rel="stylesheet" href="~/CSS/Module.css" type="text/css" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark">
            <a class="navbar-brand" href="/">DinoStore</a>
            <ul class="navbar-nav mr-auto">
                <li class="navbar-item">
                    <a class="nav-link" asp-controller="Shop" asp-action="Index">View Dinos</a>
                    <a class="nav-link" asp-page="/Profile">View Profile</a>

                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                @if (SignInManager.IsSignedIn(User))
                {
                    <li class="navbar-text" style="padding-right: 20px">
                        Hello, @User.Claims.First(c => c.Type == "FullName").Value!
                    </li>
                    @if (!User.IsInRole("Admin") && (string)ViewData["Title"] != "Basket Index")
                    {
                        <li class="nav-item">
                            <a href="" class="nav-link" id="sidebar-toggle">View Basket</a>
                        </li>
                    }
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Account" asp-action="Logout">Logout</a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Account" asp-action="Login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Account" asp-action="Register">Register</a>
                    </li>
                }

            </ul>
        </nav>
    </header>
    <main>
        @if (SignInManager.IsSignedIn(User) && !User.IsInRole("Admin") && (string)ViewData["Title"] != "Basket Index")
        {
        <div id="basket">
            <h2>Your Basket - <a asp-controller="Basket" asp-action="Index">Basket</a></h2>
            @{
                string email = User.FindFirst(c => c.Type == ClaimTypes.Email).Value;
                @await Component.InvokeAsync("BasketVC", email);
            }
        </div>
        }

        <div id="content">

            @RenderBody()
        </div>
    </main>


    @* Scripts for Bootstrap *@
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>

    <script>
        $("#sidebar-toggle").click(function (e) {
            e.preventDefault();
            $("#basket").toggleClass("toggled");
        })
    </script>
</body>
</html>
