@model ECommerse.Models.ViewModels.RegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<main>
    <h2 style="text-align: center">Registration</h2>
    <hr />

    @{
        var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();

        if (loginProviders.Count > 0)
        {
            <div id="oauth">
                <h3>Register with an external login:</h3>
                <form asp-action="ExternalLogin" method="post">

                    @foreach (var provider in loginProviders)
                    {
                        <button type="submit" name="provider" value="@provider.Name" class="btn" id="@provider.DisplayName">
                            <i class="fab fa-@provider.DisplayName.ToLower()"></i> <p class="btntext">Register with @provider.DisplayName</p>
                        </button>

                    }
                </form>
            </div>

        }
    }
    <hr />

            <div id="userform">
                <h3>Or, create a new account:</h3>
                <form method="post">

                    <div asp-validation-summary="All"></div>

                    <div>
                        <label asp-for="Email"></label>
                        <input asp-for="Email" />
                    </div>

                    <div>
                        <label asp-for="FirstName"></label>
                        <input asp-for="FirstName" />
                    </div>

                    <div>
                        <label asp-for="LastName"></label>
                        <input asp-for="LastName" />
                    </div>

                    <div>
                        <label asp-for="Birthday"></label>
                        <input asp-for="Birthday" />
                    </div>

                    <div>
                        <label asp-for="Password"></label>
                        <input asp-for="Password" />
                    </div>

                    <div>
                        <label asp-for="ConfirmPassword"></label>
                        <input asp-for="ConfirmPassword" />
                    </div>

                    <button type="submit" class="btn">Register</button>
                </form>

            </div>

</main>
